<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--prod 15/08/2566-->
    <add key="UrlAPIs" value="https://apiopacapp.tkpark.or.th/tkapiill/api/" />
    <add key="APItoken" value="0TVe71H4pSCiC4lCFr4wSz5C2CofPWkY9PLXbFTQSRGLuIV1JuoPhSc39MIG2RHB4D3XgAKx9ZGM4++AHXuP6qB/oUwjPHmmy2jqG8ZMcn8=" />
    <add key="UrlDSAPIs" value="https://apiopacapp.tkpark.or.th/" />
    <add key="basepathWalaids" value="walaids/v1" />
    <add key="basePathtkapids" value="illDs/v1" />
    <add key="basePathKiosk" value="tkKiosk" />
    <add key="tokenKiosk" value="xLex4nXsjaxIHcoF3I8tbEeXUg5ESsAvYEZ61rl9L32RzHzMvYxi6xKzY5btXLMGqYRAw0cyse06LFhuKDgoMA==" />
    <add key="versionFile" value="01" />
    <add key="FBPage_id" value="100924339038414" />
  
    <!--prod sso bws-->
    <add key="SSOUri" value="https://mytk.tkpark.or.th/" />
    <add key="SSOSecretKey" value="b0b70f4599e4455fb4957afad53c2f6b2a6a09e40cf040b1957ae48763064bbd" />
    <add key="SSOAppID" value="238d3fcfd77240d686405c86be989311" />
    <add key="MemberTkAPIs" value="https://mytk.tkpark.or.th/" />
    <add key="MemberAPIKey" value="f398fa21c593479790dcf8ba251c8a06dbd87362fc844bb1aa82a1e128d84c02" />
    <add key="redirectUri" value="https://library.tkpark.or.th/Member/SingIn.aspx" />
    <add key="redirectUriPaymentDS" value="https://library.tkpark.or.th/DSSharepool/Paymentcheck.aspx" />
    
    <add key="Numshow" value="5" />
    <add key="MonthsList" value="EN" />
    <add key="PageRow" value="15" />
    <add key="AlphaPegeRow" value="20" />
    <add key="AllBookPegeRow" value="15" />
    <add key="AllJournalPegeRow" value="30" />
    <add key="FacetMoreSize" value="50" />
    <add key="FacetLessSize" value="5" />
    <add key="SubfieldCode" value="|" />
    <add key="RSSRows" value="20" />
    <add key="Renew" value="True" />
    <add key="HoldBib" value="False" />
    <add key="HoldItem" value="True" />
    <add key="UseMail" value="0" />
    <add key="SentMail" value="1" />
    <add key="SMTP_Host" value="smtp.gmail.com" />
    <add key="enableSsl" value="true" />
    <add key="SMTP_port" value="587" />
    <add key="SMTP_Credentials" value="true" />
    <add key="SMTP_userName" value="library@kku.ac.th" />
    <add key="SMTP_password" value="Librarykku" />
    <add key="userLogin" value="1" />
    <add key="AlphaDisplay_Found" value="2" />
    <add key="AlphaDisplay_NotFound" value="2" />
    <add key="CallNumber" value="DC" />
    <add key="Highlight" value="1" />
    <add key="LanguageCode" value="th-TH" />
    <add key="SortJournalUnit" value="ASC" />
    <add key="MemberImagesFolder" value="images" />
    <add key="ImagesLocalDisk" value="C:\TEMP\" />
    <add key="AdminID" value="root" />
    <add key="AdminPass" value="root" />
    <add key="DefaultTheme" value="Red" />
    <add key="ApplicationName" value="WALAI AutoLib" />
    <add key="ApplicationName-Sub" value="Library2.0 beta" />
    <add key="contactDetail" value="กรอกหมายเลขสมาชิก เพื่อเข้าสู่ระบบ หากเข้าสู่ระบบไม่ได้กรุณาติดต่อเจ้าหน้าที่ &lt;br&gt; Login with Member ID . If you cannot login. Please contact counter service" />
    <add key="contactPhone" value="08-1925-9900" />
    <add key="contactEmail" value="theerada@tkpark.or.th" />
    <add key="contactURL" value="https://www.tkpark.or.th/tha/home" />
    <add key="FAQURL" value="http://www.walai.net" />
    <add key="ShowMap" value="True" />
    <add key="limitAlpha" value="True" />
    <!--False = ไม่จำกัด True = จำกัด-->
    <add key="SplitTitle" value="200" />
    <!--Statistic in Bibitem-->
    <add key="ShowHistoryItem" value="True" />
    <add key="ShowLastUse" value="True" />
    <add key="ShowLastuseby" value="False" />
    <add key="ShowPick" value="True" />
    <add key="ShowHit" value="True" />
    <add key="ShowSuggestName" value="False" />
    <!--Display Call Number-->
    <add key="ShowLCCall" value="False" />
    <add key="ShowDCCall" value="True" />
    <add key="ShowLOCALCall" value="False" />
    <add key="ShowClassification" value="False" />
    <add key="TagIndex" value="False" />
    <add key="UseSIP2" value="True" />
    <add key="DBName" value="dc" />
    <add key="DBHost" value="192.168.36.230" />
    <add key="User" value="root" />
    <add key="Password" value="wu1234" />
    <add key="Port" value="3306" />
    <add key="fileextension_icon" value="192.168.36.230/dc/fileextension_icon" />
    <add key="DisplayMostactivepatron" value="True" />
    <add key="ImagesBookCoverKey" value="bibid" />
    <add key="TagsApprove" value="True" />
    <!-- ส่วนของการให้สิทธิ tag -->
    <!-- Site Config -->
    <add key="LibrarySiteName" value="TK park" />
    <add key="LibrarySiteURL" value="https://www.tkpark.or.th/tha/home" />
    <add key="LibraryFacebookURL" value="https://www.facebook.com/tkparkclub/" />
    <!-- Helpdesk WALAI Config -->
    <add key="WalaiFacebook" value="http://www.facebook.com/groups/190273691084413/" />
    <add key="WalaiSupport" value="http://www.walai.net" />
    <!-- LDAP connection -->
    <add key="LDAP_For" value="tkpark" />
    <add key="CheckLDAP" value="false" />
    <add key="LDAP_IP" value="202.12.97.29" />
    <add key="LDAP_Port" value="389" />
    <add key="LDAP_Domain" value="OU=tkpark,o=tkpark" />
    <add key="LDAP_AuthType" value="Secure" />
    <add key="LDAP_SubTree" value="Subtree" />
    <!-- Head title -->
    <add key="TitleThai" value="ระบบสืบค้นทรัพยากรห้องสมุด TK park" />
    <add key="TitleEng" value="OPAC..Thailand Knowledge Park" />
    <!-- for hidden item -->
    <add key="HideItemByStatus" value="True" />
    <add key="HideItemStatus" value="4,25,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59" />
    <!-- Open Hours Today -->
    <add key="OpenHoursAllDay" value="False" />
    <!--member version [1.3,2.0] -->
    <add key="MemberVersion" value="1.3" />
    <!--overide edit member profile -->
    <add key="OverrideEditProfile" value="False" />
    <!--botList [google,bot,bing] -->
    <add key="botSpy" value="True" />
    <add key="botList" value="google,bot,bing" />
    <!--show Budget for suggestion -->
    <add key="UseBudget" value="False" />
    <!--Can edit password -->
    <add key="CanEditPassword" value="True" />
    <add key="Save856Hishory" value="False" />
    <!--use duedate for renew -->
    <add key="UseDuedateRenew" value="False" />
    <!--default location hold when hold item -->
    <add key="UseItemLocation" value="True" />
    <!--245 title subfield to show -->
    <add key="245Subfield" value="a,b,c" />
    <add key="TimeOut" value="30" />
    <add key="NotifyExpireDate" value="7" />
    <add key="UseLocationPrefix" value="False" />
    <add key="displayPictureIP" value="http://search.tkpark.or.th/bookcover/" />
    <!--New title by bib or item -->
    <add key="NewTitleByBib" value="False" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="th-TH" />
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!--<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="asp" />-->
        <!--<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="AjaxControlToolkit" />-->
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
    <!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>-->
    <!--<membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>-->
    <!--<profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>-->
    <!--<roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>-->
    <!--<httpRuntime requestValidationMode="2.0" />-->
    <httpHandlers>
      <add verb="GET" path="ImageVerifier.axd" type="NatsNet.Web.UI.Controls.ImageVerifier, NatsNet.Web.UI.Controls" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <remove value="iisstart.htm" />
      </files>
    </defaultDocument>
    <!--<defaultDocument>
            <files>
                <add value="index.aspx"/>
            </files>
        </defaultDocument>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.11.4.0" newVersion="106.11.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: a4c860b8-c1e3-4ed2-a775-653e551df01a-->
<!--ProjectGuid: 81e001b7-f74f-41de-9f87-e91a105eb357-->
<!--ProjectGuid: e9ed5758-e695-4277-9da7-2c82e7d4781b-->